
/*Universal styel rule for padding and margin of the whioole page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Body backgorund colour*/
body {
    background-color: #d9dcd6;
}
/*styling of the header elements, font, colours and padding*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*postion and font size of header h1*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*colour of seo section of header*/
.header h1 .seo {
    color: #d9dcd6;
}
/*postion of nav bar with font and font size*/
.nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*bullet point style*/
.nav ul {
    list-style-type: none;
}
/*positioning of nav elements list*/
.nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*link colour*/
a {
    color: #ffffff;
    text-decoration: none;
}
/* main text size*/
p {
    font-size: 16px;
}
/*main image positoning anf source*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* specifying parameters for float left*/
.float-left {
    float: left;
    margin-right: 25px;
}
/* specifying parameters for float right*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* positioning for content element*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* style and positioning of the aside*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*aside article positioning and colour*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*aside article heading positioning*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*aside images positioning*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* main article style and positioning*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*main article image sizing*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}
/*main article positioning*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*style and positioning of the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*footer font size*/
.footer h2 {
    font-size: 20px;
}
